.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}

.footer--logo {
  background: url("/images/footer/logo_footer.png") center center no-repeat;
  width: 200px;
  height: 75px;
  margin: 0 auto;
  cursor: pointer;
}

.footer--text {
  display: block;
  width: 300px;
  height: 100%;
  margin: 0 auto;
  font-size: small;
}
