// Style helpers
@import "style-helpers/font-face";
@import "style-helpers/variables";
@import "style-helpers/mixins";
@import "style-helpers/path";
@import "style-helpers/typografy";
// Login
@import "component/public/login/index";
// LoadingSpinner
@import "component/widget/loadingSpinner/index";
// Templates
@import "component/view/Templates/index";
// Header
@import "component/layout/header/index";
// Footer
@import "component/layout/footer/index";

body {
  /*background: rgba(175, 198, 218, 0.2);*/
  background: url("/images/background-web.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  font-family: Roboto, sans-serif;
}
