.templates {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  height: 100vh;

  .template-card {

  }
}

.details {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 20px auto;
}

.up-contract {
  display: flex;
  position: relative;

  label {
    align-self: center;
    position: absolute !important;
    right: 0;
    background-color: rgba(153, 153, 153, 02) !important;
    color: white !important;
  }
}